doctype html
html(lang='es')

  head
    include partials/head

  body.d-flex.flex-column.justify-content-between.min-vh-100

    header.sticky-top
      include partials/header

    main.flex-fill
      include partials/tablaP

    footer
      include partials/footer

    include partials/scripts